body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(29,58,185);
    background: linear-gradient(90deg, rgba(29,58,185,1) 0%, rgba(33,103,221,1) 39%, rgba(0,255,128,1) 100%);

}

button {
    cursor: pointer;
}